html{
text-align: center;
}
body {
margin: 30;
padding: 10;
text-align: left;
font-family:"Lucida Console", Courier, monospace;
font-size: 13px;
color: #0A05FF;
background-image: url(https://raw.githubusercontent.com/azekillDIABLO/Dream-Blocks/master/back.png);
}
p {text-align: left;}
h1
{
position:relative;
color:#0000FF;
text-align:center;
font-size:50px;
font-weight:bold;
font-family:"Lucida Console", Courier, monospace;
background-color:#F7e5e3;
}
h2
{
position:relative;
color:#0000FF;
text-align:center;
font-size:30px;
font-weight:bold;
font-family:"Lucida Console", Courier, monospace;
background-color:#F7e5e3;
}
h3
{
position:relative;
color:#0000FF;
text-align:center;
font-size:25px;
font-family:"Lucida Console", Courier, monospace;
background-color:#F7e5e3;
}
button
{
position:relative;
color:#0000FF;
text-align:center;
font-size:20px;
font-family:"Lucida Console", Courier, monospace;
background-color:#F7e5e3;
}
blockquote {
font-size:16px;
text-align:left;
width:800px;
color:#0A25FF;
padding:12px;
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/Dream-Blocks/master/info.png);
background-repeat:no-repeat;
}
